<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>jsDP1</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <section class="jsdp1-container">
    <canvas id="jsdp1"></canvas>
    <section class="jsdp1-controls">
      <label>
        Planets: <output id="gridSizeOut"></output>
        <input id="gridSize" type="range" step="1" min="1" max="32" value="1" />
      </label>
    </section>
  </section>
  <script src="js/index.js"></script>
</body>
</html>
