<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>jsDP1</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <section class="jsdp1-container">
    <canvas id="jsdp1"></canvas>
  </section>
  <svg width="0" height="0" style="position:absolute; z-index:-1;">
    <defs>
      <filter id="remove-alpha" x="-5%" y="-5%" width="110%" height="110%">
        <feGaussianBlur stdDeviation="0.5" />
        <feComponentTransfer>
          <feFuncA type="discrete" tableValues="0 1"></feFuncA>
        </feComponentTransfer>
      </filter>
    </defs>
  </svg>
  <script src="js/index.js"></script>
</body>
</html>
