<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>jsDP1</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div id="root">
    <section class="jsdp1-container">
      <canvas id="jsdp1"></canvas>
    </section>
    <aside class="jsdp1-sidebar">
      <section>
        <h1>{{ title }}</h1>
      </section>
      <footer>
        <p>Built with
          <a href="https://github.com/thykka/jsdp1">jsDP1</a>
        </p>
      </footer>
    </aside>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
