@import 'reset';

:root {
  --unit: 1rem;
}

html {
  background-color: #111;
  color: #bbb;
  padding: var(--unit);
}

canvas {
  vertical-align: top;
}

a {
  color: currentColor;
}

.jsdp1-container {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}

.jsdp1-container canvas {
  width: 100%;
  image-rendering: pixelated;
}

code {
  background-color: #222;
  display: block;
  font-size: 0.75rem;
  line-height: 1.5;
  margin: 0 0 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  white-space: pre;
}

footer {
  p:last-child {
    margin-bottom: 0;
  }
}

@media (orientation: landscape) {
  #root {
    display: flex;
    flex-flow: row wrap;
  }
  .jsdp1-container {
    flex: 1 1 0;
    text-align: center;
  }
  .jsdp1-container canvas {
    height: calc(100vh - var(--unit) * 2);
    width: auto;
  }
  .jsdp1-sidebar {
    flex: 1 1 20em;
    padding: 0 0 0 1rem;
  }
  code {
    padding: 1rem;
    white-space: pre-wrap;
  }
}
.token.punctuation {
  color: lightslategrey;
}
.token.attr-name,
.token.attr-value,
.token.string,
.token.boolean,
.token.number,
.token.char,
.token.entity {
  color: coral;
}
.token.operator,
.token.function {
  color: hotpink;
}
.token.keyword,
.token.class-name {
  color: skyblue;
}
.token.parameter {
  color: cornflowerblue;
}
