@import 'reset';

:root {
  --unit: 1rem;
}

html {
  background-color: #111;
  color: #bbb;
  padding: var(--unit);
}

body {
  min-height: 100vh;
  --rings: 10;
  animation: ringsAnim 1s infinite linear;
  background-image: paint(houdiniTest);
}

@keyframes ringsAnim {
  0% { --rings:1; }
  10% { --rings:2; }
  20% { --rings:3; }
  30% { --rings:4; }
  40% { --rings:5; }
  50% { --rings:6; }
  60% { --rings:7; }
  70% { --rings:8; }
  80% { --rings:9; }
  90% { --rings:10; }
  100% { --rings:11; }
}
